# returns whether the given command is executable or aliased
_has() {
  return $( whence $1 >/dev/null )
}

# helper to refresh tmux env
if [ -n "$TMUX" ]; then
  function tmux_ssh_refresh {
    export $(tmux show-environment | grep "^SSH_AUTH_SOCK") &> /dev/null
    export $(tmux show-environment | grep "^SSH_AUTH_CONNECTION") &> /dev/null
    export $(tmux show-environment | grep "^DISPLAY") &> /dev/null
  }
else
  function tmux_ssh_refresh { }
fi
