# returns whether the given command is executable or aliased
_has() {
  return $( whence $1 >/dev/null )
}

# functions which modify the path
_prepend_to_path() {
  if [ -d $1 -a -z ${path[(r)$1]} ]; then
    path=($1 $path);
  fi
}
_append_to_path() {
  if [ -d $1 -a -z ${path[(r)$1]} ]; then
    path=($path $1);
  fi
}
_force_prepend_to_path() {
  path=($1 ${(@)path:#$1})
}

# helper to refresh tmux env
if [ -n "$TMUX" ]; then
  function tmux_ssh_refresh {
    export $(tmux show-environment | grep "^SSH_AUTH_SOCK") &> /dev/null
    export $(tmux show-environment | grep "^SSH_AUTH_CONNECTION") &> /dev/null
    export $(tmux show-environment | grep "^DISPLAY") &> /dev/null
  }
else
  function tmux_ssh_refresh { }
fi

# https://stackoverflow.com/a/30029855
listening() {
    if [ $# -eq 0 ]; then
        lsof -iTCP -sTCP:LISTEN -n -P
    elif [ $# -eq 1 ]; then
        lsof -iTCP -sTCP:LISTEN -n -P | grep -i --color $1
    else
        echo "Usage: listening [pattern]"
    fi
}
