[user]
	name = jedireza
	email = reza@akhavan.me
[mergetool]
	keepBackup = true
[color]
	branch = auto
	diff = auto
	status = auto
	ui = auto
[push]
	default = simple
[core]
	editor = /usr/local/bin/vim
